<h1> All Movies </h1>

<hr>

<h2> Add a Movie </h2>

<hr>

<form action="/insert_movie_record">
  <div>
    <label for="title_box">Title</label>
    <input id="title_box" name="input_title">
  </div>

  <div>
    <label for="year_box">Year</label>
    <input id="year_box" name="input_year">
  </div>

  <div>
    <label for="textarea_box">Description</title>
    <textarea id="textarea_box" name="input_description"></textarea>
  </div>

  <div>
    <label for="duration_box">Duration</label>
    <input id="duration_box" name="input_duration">
  </div>

  <div>Image</label>
    <label for="image_box">
    <textarea id="image_box" name="input_image_url"></textarea>
  </div>

  <div>
    <label for="director_id_box">Director</label>
    <input id="director_id_box" name="input_director_id" value="1">
  </div>

  <div>
    <button>Add movie</button>
  </div>
</form>

<table border="!">
  <tr>
    <th>
      Image
    </th>

    <th>
      Title
    </th>

    <th>
      Year
    </th>

    <th>
      Director
    </th>

    <th>
      Details
    </th>
  </tr>

  <% @movies.each do |the_movie| %>
    <tr>
      <td>
        <img width=100 src="<%= the_movie.image %>">
      </td>

      <td>
        <%= the_movie.title %>
      </td>

      <td>
        <%= the_movie.year %>
      </td>

      <td>
        <a href="/directors/<%= the_movie.director.id %>">
        <%= the_movie.director.name %>
      </td>

      <td>
        <a href="/movies/<%= the_movie.id %>">
        Show Details
      </td>
    </tr>
  <% end %> 

</table>


